# Python cache
__pycache__/
*.py[cod]
*.pyo

# virtual environment
.venv/
venv/

# packaging
*.egg-info/
dist/
build/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# pytest
.pytest_cache/

# logs
*.log